<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".EasyPodApplication"
        android:allowBackup="true"
        android:appCategory="audio"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_easypod"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@drawable/ic_easypod"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyPod">
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="androidx.media3.cast.DefaultCastOptionsProvider" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="feed" />
                <data android:scheme="itpc" />
                <data android:scheme="pcast" />
                <data android:scheme="rss" />
            </intent-filter>
            <intent-filter android:label="Subscribe on Android">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="subscribeonandroid.com" />
                <data android:host="www.subscribeonandroid.com" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="application/atom+xml" />
                <data android:mimeType="application/rss+xml" />
                <data android:mimeType="text/xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/bpbak" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/rss+xml" />
                <data android:mimeType="application/x-bpbak" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="text/x-opml" />
                <data android:mimeType="text/xml" />
            </intent-filter>
        </activity>

        <service
            android:name=".playback.PlaybackService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaLibraryService" />
                <action android:name="android.media.browse.MediaBrowserService" />
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
            </intent-filter>
        </service>

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />

        <receiver
            android:name=".widgets.EasyPodPlaybackWidgetReceiver"
            android:exported="true"
            android:label="@string/playback_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/easypod_playback_widget_info" />
        </receiver>

        <receiver
            android:name=".widgets.EasyPodEpisodesWidgetReceiver"
            android:exported="true"
            android:label="@string/episodes_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/easypod_episodes_widget_info" />
        </receiver>

        <receiver
            android:name="androidx.media3.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".automation.EnvironmentChangeReceiver"
            android:directBootAware="false"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".automation.ExternalCommandReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.smgray.easypod.command.UPDATE_SMART_PLAY" />
                <action android:name="com.smgray.easypod.command.START_SMART_PLAY" />
                <action android:name="com.smgray.easypod.command.PLAY" />
                <action android:name="com.smgray.easypod.command.PAUSE" />
                <action android:name="com.smgray.easypod.command.PLAY_PAUSE" />
                <action android:name="com.smgray.easypod.command.PLAY_NEXT" />
                <action android:name="com.smgray.easypod.command.PLAY_PREVIOUS" />
                <action android:name="com.smgray.easypod.command.SKIP_FORWARD" />
                <action android:name="com.smgray.easypod.command.SKIP_BACKWARD" />
                <action android:name="com.smgray.easypod.command.SKIP_TO_END" />
                <action android:name="com.smgray.easypod.command.SET_PLAYBACK_SPEED" />
                <action android:name="com.smgray.easypod.command.SET_PLAYBACK_SPEED_NORMAL" />
                <action android:name="com.smgray.easypod.command.SET_PLAYBACK_SPEED_1" />
                <action android:name="com.smgray.easypod.command.SET_PLAYBACK_SPEED_2" />
                <action android:name="com.smgray.easypod.command.START_SYNC" />
            </intent-filter>
        </receiver>

        <receiver android:name="androidx.mediarouter.media.MediaTransferReceiver" />
    </application>

</manifest>
